#app, .grid, .game-columns, .row-label, .column-labels, .column-label, .game-board, .boards, .controls {
  display: flex;
}

#app {
  flex-flow: column nowrap;
  height: 100vh;
}

.row-label, .column-label, #app {
  justify-content: center;
  align-items: center;
}

.game-columns {
  flex-flow: column nowrap;
}

.row-labels {
  margin-top: 2rem;
}

.row-label, .column-label, .sea, .ship, .shot-missed, .shiphit {
  width: 2rem;
  height: 2rem;
}

.grid {
  border: 0.125rem solid mediumblue;
}

.sea {
  background-color: lightblue;
  border: 0.0625rem solid mediumblue;
}

.ship, .ship-set {
  background-color: grey;
  border: 0.0625rem solid grey
}

.shot-missed {
  background-color: whitesmoke;
  border: 0.0625rem solid mediumblue;
}

.shiphit {
  background-color: mediumvioletred;
}


.controls {
  margin-left: 4rem;
  width: 50rem;
}

.game-status {
  margin-left: 2rem;
}

.header-top {
  margin-bottom: 2rem;
}

.header-top h1, .header-self, .header-opponent {
  font-weight: lighter;
}